

.main-content{
    display:flex;
    justify-content: center;
    
 
  }
  .container{
    width: 1000px;
    // height: 100%;
    padding-left: 20px;
    @media @phone{
        .mobileview();
        width: 450px;
        // padding-left:52px;
      }
      
      
  }

.title {
    text-align: center;
    font-size: 4rem;
    padding: 20px;
    font-family: @marker;
    color:whitesmoke;
    padding-top: 100px;
    @media @phone{
        .mobileview();
        padding-top: 250px;
      }
      
    
    
  }
  .slogan{
    text-align:center;
    font-size: 24px;
    font-family: @roboto;
    color: whitesmoke;
    display:flex;
    justify-content: space-evenly;
    
    padding-bottom: 20px;
    
  }
  
  .section1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    @media @phone{
      .mobileview();
      align-items: center;
    }
    img{
        width:300px;
        height:310px;
    }
    
    h1{
        font-family: @roboto;
        font-size: 24px;
        color:whitesmoke;
        text-align: center;
       
        
      }

       p{
    font-family: @quicksand;
    font-size: 16px;
    color:whitesmoke;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    text-align: center;
    padding-left: 20px;
  }
  
  }

  .section2{
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      h1{
        font-family: @roboto;
        font-size: 24px;
        color:whitesmoke;
        text-align: center;
         

      }
      p{
        font-family: @quicksand;
        font-size: 16px;
        color:whitesmoke;
        display:flex;
        flex-wrap: wrap;
        width:300px; 
        padding-left: 20px;
      }
      div div{
          display:flex;
          flex-direction: column;
          align-content: center;
         
      }
      img{
        width:300px;
        height:300px;
    }
  }
  
  button {
    width: 220px;
    height: 50px;
    border-radius: 20px;
    background-color: @accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    // position: sticky;
    // top: 0;

    &:hover {
      cursor: pointer;
    }

    @media @tablet {
      margin: 15px;
      width: 320px;
      height: 70px;
    }

    a {
      font-family: @marker;
      font-size: 24px;
      text-decoration: none;
      color: black;
      border-bottom: none;

      @media @tablet {
        font-size: 35px;
      }
    }
  }

  .buttonClick {
    background-color: black;

    a {
      color: @accent;
    }
  } 