/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-size: 62.5%;
	//not apart of reset
	width: 100%;
	margin: auto;
	background: black;
	color: white;
}

//--------------Imports----------------------
@import "variables";
@import "mixins";
@import "./Carousel/carousel";

//--------------Styles start Here-------------

nav {
	.flex(space-between);
	background: gray;

	.logo {
		width: 70px;
		height: auto;
		margin: 20px;
	}

	.navItems {
		.flex(space-around);
		width: 60%;

		a {
			font-size: 2rem;
			padding: 20px;
		}
	}

	button {}
}

header {
	.flex();
	flex-wrap: wrap;
	// border: 2px solid red;
}

h1 {
	text-align: center;
	font-size: 9rem;
	font-family: @marker;
	padding: 20px;
	position: absolute;
	z-index: 2;
	transform: translate(-165%, 98%);
}

.carousel {
	.flex();
	width: 100%;
	margin: auto;

	img {
		width: 100%;
	}
}

.slogan {
	.flex(space-evenly);
	border-bottom: 2px solid gray;
	margin: 20px;
	width: 100%;

	h3 {
		font-size: 2.5rem;
		font-family: @quicksand;
		padding: 20px;
		text-align: center;
	}
}

.detials-container {
	.flex(center, space-around, column);
	margin: 20px;
	flex-wrap: wrap;

	h2 {
		font-size: 2.3rem;
		margin: 20px;
	}

	p {
		font-size: 1.7rem;
		margin: 30px;
	}

	.what,
	.how {
		.flex();

		.text,
		img {
			width: 50%;
		}
	}
}

footer {
	.flex(space-evenly);
	margin: 20px;
	background: gray;

	p,
	a {
		font-size: 2rem;
		padding: 10px;
	}
}