// Color and Font Variables 
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Quicksand|Roboto');
@marker: 'Permanent Marker', cursive;
@quicksand: 'Quicksand', sans-serif;
@roboto:'roboto', sans-serif;

//Colors
@background: #C4C4C4;
@bfcolor: #46494C;
@accent: #81FF57;