/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(http://fonts.gstatic.com/s/permanentmarker/v8/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Ceg.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hK1QI.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #46494C;
}
footer p {
  font-size: 10px;
  padding: 20px;
  text-decoration: none;
  font-family: 'roboto', sans-serif;
  color: whitesmoke;
}
footer a {
  font-size: 2rem;
  padding: 20px;
  text-decoration: none;
  font-family: 'roboto', sans-serif;
  color: whitesmoke;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
.main-content {
  display: flex;
  justify-content: center;
}
.container {
  width: 1000px;
  padding-left: 20px;
}
@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 450px;
  }
}
.title {
  text-align: center;
  font-size: 4rem;
  padding: 20px;
  font-family: 'Permanent Marker', cursive;
  color: whitesmoke;
  padding-top: 100px;
}
@media (max-width: 500px) {
  .title {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 250px;
  }
}
.slogan {
  text-align: center;
  font-size: 24px;
  font-family: 'roboto', sans-serif;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
.section1 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
@media (max-width: 500px) {
  .section1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
.section1 img {
  width: 300px;
  height: 310px;
}
.section1 h1 {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  color: whitesmoke;
  text-align: center;
}
.section1 p {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  padding-left: 20px;
}
.section2 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.section2 h1 {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  color: whitesmoke;
  text-align: center;
}
.section2 p {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding-left: 20px;
}
.section2 div div {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.section2 img {
  width: 300px;
  height: 300px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #46494C;
  position: fixed;
  width: 100%;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
nav .logo {
  width: 50px;
  height: 50px;
}
nav a {
  font-size: 2rem;
  padding: 20px;
  text-decoration: none;
  font-family: 'roboto', sans-serif;
  color: whitesmoke;
}
button {
  width: 220px;
  height: 50px;
  border-radius: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
  background-color: #81FF57;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  cursor: pointer;
  padding-bottom: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {
  background-color: #ddd;
}
.dropdown-hidden {
  display: none;
}
html,
body {
  font-size: 62.5%;
  background-image: url('../../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
