/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  width: 90%;
  margin: auto;
  background: black;
  color: white;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .carousel {
    width: 1200px;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  background-color: gray;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: gray;
  background-color: white;
  border: 2px solid gray;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
  z-index: 3;
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
  z-index: 3;
}
.carousel .carousel-img {
  width: 0%;
  display: none;
}
.carousel .active-img {
  display: block;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background: gray;
}
nav img {
  width: 30%;
}
nav .navItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 60%;
}
nav .navItems a {
  font-size: 2rem;
  padding: 20px;
}
h1 {
  text-align: center;
  font-size: 4rem;
  padding: 20px;
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: auto;
}
.carousel img {
  width: 100%;
}
.slogan {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px solid gray;
  margin: 20px;
}
.slogan h3 {
  font-size: 2.5rem;
  padding: 20px;
  text-align: center;
}
.detials-container {
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
  margin: 20px;
  flex-wrap: wrap;
}
.detials-container h2 {
  font-size: 2.3rem;
  margin: 20px;
}
.detials-container p {
  font-size: 1.7rem;
  margin: 30px;
}
.detials-container .what,
.detials-container .how {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.detials-container .what .text,
.detials-container .how .text,
.detials-container .what img,
.detials-container .how img {
  width: 50%;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  background: gray;
}
footer p,
footer a {
  font-size: 2rem;
  padding: 10px;
}
